<main>
    <h3>Modifique Su Contraseña</h3>
    <form id="newPasswordForm" method="post">
        <label for="password">Ingrese su Nueva Contraseña</label>
        <input id="password" type="password" name="password" placeholder="Ingrese su correo para recuperar su password">
        <button type="submit">Enviar</button>
    </form>
</main>

<script src="/js/newPassword.js"></script>