<main>
    <h3>Recupere su Password</h3>
    <form action="/api/sessions/reset-password" method="post">
        <label for="email">Ingrese su email</label>
        <input id="email" type="email" name="email" placeholder="Ingrese su correo para recuperar su password">
        <button type="submit">Enviar</button>
    </form>
</main>