/* ------ EXTERNAL FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Oswald:wght@300;400;700&family=Roboto+Condensed:wght@300;400;500&display=swap');

/* ---------- RESET ----------- */

* {
    /* height: 100%; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
        text-transform: none;
    }

    &:-webkit-any-link {
        color: inherit;
    }
}

input:focus {
    outline: none;
}

:root {
    --font-primary: "Oswald";
    --font-secondary: "Nunito";
    --font-btn: "Roboto Condensed";
    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --text-color-primary: white;
}

.error {
    background-color: red;
    color: white;
    padding: 5px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titulo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-m);
    text-align: center;
    color: var(--text-color-primary);
    text-transform: uppercase;
}

.header {
    background-color: black;
    font-family: var(--font-primary);
    padding: 10px 20px;
    justify-content: space-between;
    height: 8%;
}

.header h1 a {
    display: block;
    font-size: var(--font-size-l);
    color: var(--text-color-primary);
    margin: auto 0;
}

.header nav {
    gap: 20px;
    justify-content: space-between;
    height: 100%;
}

.header nav ul {
    gap: 20px;
}

.header li {
    color: var(--text-color-primary);
}

.header .info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .infoUser {
    display: flex;
    flex-direction: column;
}


footer {
    height: 5%;
    color: var(--text-color-primary);
    background-color: black;
}

.material-symbols-outlined {
    color: var(--text-color-primary);
    font-size: 26px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24,
}

.icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #ffcc60;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined.size-50.chat-icon {
    font-size: 50px;
    cursor: pointer;
}

.main {
    position: relative;
    padding: 10px;
    background-color: #252525;
}

.card-container {
    justify-content: center;
    margin: 20px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px 10px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-s);
    background-color: #212121;
    color: var(--text-color-primary);
    padding: 10px;
    text-align: center;
    gap: 10px;
    border-radius: 1rem;
    transition: box-shadow 1s ease, color 1s ease;
}

.card:hover {
    box-shadow: #424242 0px 0px 20px 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    gap: 5px;
}

.btn-cart {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #4321ff;
    /* font-weight: bold; */
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-cart:hover {
    background-color: #2000d6;
}

.numberPage {
    display: flex;
    gap: 10px;
    color: var(--text-color-primary);
    font-family: var(--font-secondary);
    font-size: var(--font-size-m);
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.numberPage a {
    border: 1px solid white;
    padding: 5px;
    transition: background-color 1s ease;
}

.numberPage a:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.btn-accept {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #35d859;
    /* font-weight: bold; */
    border-radius: .25rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-accept:hover {
    background-color: #008a50;
    /* color: black; */
}

.btn-delete {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #d60000;
    /* font-weight: bold; */
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-delete:hover {
    background-color: #ff6363;
    color: black;
}

.btn-modify {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #7990f7;
    /* font-weight: bold; */
    border-radius: .25rem;
    color: black;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-modify:hover {
    background-color: #1a2b75;
    color: white;
}

.formProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

/* .formProducts label {
    display: block;
} */

.formProducts input {
    text-align: center;
    /* width: 100%; */
}

/* chat */
.mainChat {
    height: 87%;
}

.listMessage {
    height: 90%;
    overflow: auto;
    font-family: var(--font-secondary);
}

/* Estilos para la barra de desplazamiento */
.listMessage::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

.listMessage::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.listMessage::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    /* Color del thumb de la barra de desplazamiento */
    border-radius: 6px;
    /* Borde redondeado del thumb */
}

.listMessage::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color del thumb de la barra de desplazamiento al pasar el ratón */
}

.formChat {
    height: 10%;
    display: flex;
    gap: 10px;
    /* border-top: 1px solid black; */
    padding: 10px 20px;
}

.formChat textarea {
    height: 50px;
    flex-grow: 1;
    resize: none;
    font-family: var(--font-secondary);
    font-size: var(--font-size-m);
    padding: 10px;
    border-radius: 1rem;
    border: .25px solid grey;
}

.formChat textarea:focus {
    outline: none;
}

.userMessage {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin: 10px 20px;
    border-radius: 1rem;
    transition: background-color 0.5s ease;
}

.userMessage:nth-child(even) {
    background-color: #8bffcf;
}

.userMessage:nth-child(even):hover {
    background-color: #75caa7;
}

.userMessage:nth-child(odd) {
    background-color: #ffacac;
}

.userMessage:nth-child(odd):hover {
    background-color: #ff8e8e;
}

.chatMessage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chatMessage p:last-child {
    text-align: right;
    font-size: var(--font-size-s);
}

.chatUser .userMail {
    font-weight: 600;
}

.material-symbols-outlined.btn-chat {
    color: black;
    font-size: 50px;
    /* font-weight: light; */
}

/* page productDetail */

.productDetail {
    width: 75%;
    height: 250px;
    margin: 15px auto;
    font-family: var(--font-primary);
    color: var(--text-color-primary);
    background-color: #707070;
    display: flex;
    justify-content: space-between;
}

.productImage {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
}

.productDescription {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    justify-self: center;
    align-self: start;
}

.productPrice {
    gap: 20px;
    width: 30%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.productPrice p {
    text-align: center;
}

.productQuantity {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.productPrice input {
    font-size: 12px;
    border: none;
    width: 25%;
    padding: 5px;
}

.productBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productBtn button {
    margin: 0 auto;
    width: 75%;
}

/* Cart Page */

.cart {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    gap: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
    color: var(--text-color-primary);
    font-family: var(--font-secondary);
    font-size: var(--font-size-xs);
}

.cartItem {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #2000d6;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

.cartItemImg {
    width: 20%;
}

.cartItemDescription {
    width: 50%
}

.cartItemPrice {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.cartBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 20px auto;
    gap: 10px;
    background-color: #2000d6;
    color: var(--text-color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-m);
    border-radius: 10px;
}

.cartBtn form {
    text-align: center;
    width: 100%;
}

.cartBtn button {
    width: 90%;
}

.cartIcons {
    width: 5%;
    cursor: pointer;
}

.cartEmpty {
    font-family: var(--font-primary);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.cartEmpty a {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

/* ------------- MODAL ------------ */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(187, 187, 187, 0.692);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
  }
  .modal__ventana {
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 9px 9px 20px 3px #831313, 8px 11px 17px 12px rgba(0, 0, 0, 0);
    text-align: center;
    width: 75%;
    max-width: 500px;
  }
  .modal p {
    font-family: var(--font-secondary);
    font-weight: 700;
    color: black;
    margin: 0;
  }
  .modal__botones {
    margin-top: 20px;
    gap: 10px;
  }
  .modal__btnConfirmar {
    background-color: #00c700;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .modal__btnConfirmar:hover {
    background-color: #006900;
    font-weight: 500;
  }
  .modal__btnCancelar {
    background-color: #fd4a4a;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .modal__btnCancelar:hover {
    background-color: #8f0000;
    font-weight: 500;
  }

  .modal__ventanaTicket {
    
    padding: 30px 50px;
    
    text-align: center;
  }

  .modalTicket {
    font-family: var(--font-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(187, 187, 187, 0.692);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
  }

  .divContainerModal {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 9px 9px 20px 3px #831313, 8px 11px 17px 12px rgba(0, 0, 0, 0);
  }

  .divContainerModal .modal__btnCancelar {
    margin: 20px 50px;
  }

  .modal__ticketInfo {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
}

.modalItemDetail {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;   
}

.modalDetailProducts {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.modalPrice {
    text-align: right;
    padding: 20px 50px;
}

/* Login Page */

.mainLogin {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(150,30,30,1) 0%, rgba(20,4,4,1) 20%, rgba(0,0,0,1) 95%);
    font-family: var(--font-secondary);
    color: var(--text-color-primary);
}

.mainLogin h1 {
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
}
.contenedorLogin  {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contenedorLogin form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.contenedorLogin form button {
    margin: 10px 0px;
}

.labelForm {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.labelForm input {
    font-family: var(--font-secondary);
    padding: 2px 10px;
}

.linkLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    gap: 20px;
}

.linkLogin a:hover{
    font-weight: 800;
}

.githubLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 100px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.githubLogin:hover {
    background-color: white;
    color: black;
}

.githubLogin:hover .fa-github {
    color: black;
}

.githubLogin button {
    color: white;
    font-size: var(--font-size-m);
}
.githubLogin:hover button {
    color: black
}
/* Page Home */

.mainProfile {
    position: relative;
    padding: 10px;
    background-color: #252525;
    flex: 1;
}

.userProfile {
    display: inline-flex;
    background-color: #3a3a3a;
    font-family: var(--font-primary);
    font-size: var(--font-size-m);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white ;
    margin: 20px auto;
    gap: 15px;
}

.formProfile {
    display: flex;
    align-items: center;
}
.userProfile form {
    flex-grow: 1;
}

.userProfile form label {
    color: white;
}

.userProfile form input {
    background-color: transparent;
    font-size: var(--font-size-m);
    color: white;
    border: none;
    width: 75%;
}

.formProfileInput {
    width: 350px;
}

.formProfileBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.formProfileBtn button{
    font-family: var(--font-primary);
    font-size: var(--font-size-m);
    color: black;
}

.formResetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.formResetPassword input {
    width: 300px;
    padding: 2px 5px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-m);
}

.formResetPassword button {
    background-color: #57ff6d;
    padding: 3px 20px;
    font-family: var(--font-primary);
    font-size: var(--font-size-m);
    cursor: pointer;
    box-shadow: #ffffff 0px 0px 20px 3px;
}

.formResetPassword button:hover {
    background-color: #dd0000;
    color: white;
    box-shadow: #ffa7a7 0px 0px 20px 3px;
}

.parrafo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-s);
    text-align: center;
    margin: 15px auto;
}

.btn-volver {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #d83cff;
    /* font-weight: bold; */
    border-radius: .25rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: fit-content;
}

.btn-volver:hover {
    background-color: #670081;
    box-shadow: #eda7ff 0px 0px 20px 3px;
    /* color: black; */
}

.containerBtnCurrent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-role {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #e4ff6c;
    /* font-weight: bold; */
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.btn-role:hover {
    background-color: #8ead00;
    box-shadow: #e7ff7c 0px 0px 20px 3px;
    /* color: black; */
}