/* ------ EXTERNAL FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Oswald:wght@300;400;700&family=Roboto+Condensed:wght@300;400;500&display=swap');

/* ---------- RESET ----------- */

* {
    /* height: 100%; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
        text-transform: none;
    }

    &:-webkit-any-link {
        color: inherit;
    }
}

:root {
    --font-primary: "Oswald";
    --font-secondary: "Nunito";
    --font-btn: "Roboto Condensed";
    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --text-color-primary: white;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titulo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-m);
    text-align: center;
    color: var(--text-color-primary);
    text-transform: uppercase;
}

.header {
    background-color: black;
    font-family: var(--font-primary);
    padding: 10px 20px;
    justify-content: space-between;
    height: 8%;
}

.header h1 a {
    display: block;
    font-size: var(--font-size-l);
    color: var(--text-color-primary);
    margin: auto 0;
}

.header nav {
    gap: 20px;
    justify-content: space-between;
    height: 100%;
}

.header nav ul {
    gap: 20px;
}

.header li {
    color: var(--text-color-primary);
}

footer {
    height: 5%;
    color: var(--text-color-primary);
    background-color: black;
}

.material-symbols-outlined {
    color: var(--text-color-primary);
    font-size: 26px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24,
}

.icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #ffcc60;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined.size-50.chat-icon {
    font-size: 50px;
    cursor: pointer;
}

.main {
    position: relative;
    padding: 10px;
    background-color: #252525;
}

.card-container {
    justify-content: center;
    margin: 20px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px 10px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-s);
    background-color: #212121;
    color: var(--text-color-primary);
    padding: 10px;
    text-align: center;
    gap: 10px;
    border-radius: 1rem;
    transition: box-shadow 1s ease, color 1s ease;
}

.card:hover {
    box-shadow: #424242 0px 0px 20px 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    gap: 5px;
}

.btn-cart {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #4321ff;
    /* font-weight: bold; */
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-cart:hover {
    background-color: #2000d6;
}

.btn-accept {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #35d859;
    /* font-weight: bold; */
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-accept:hover {
    background-color: #008a50;
    /* color: black; */
}

.btn-delete {
    padding: 5px;
    font-family: var(--font-btn);
    background-color: #800000;
    /* font-weight: bold; */
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.btn-delete:hover {
    background-color: #ff6363;
    color: black;
}

.formProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

/* .formProducts label {
    display: block;
} */

.formProducts input {
    text-align: center;
    /* width: 100%; */
}

/* chat */
.mainChat {
    height: 87%;
}

.listMessage {
    height: 90%;
    overflow: auto;
    font-family: var(--font-secondary);
}

/* Estilos para la barra de desplazamiento */
.listMessage::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.listMessage::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

.listMessage::-webkit-scrollbar-thumb {
    background-color: #bfbfbf; /* Color del thumb de la barra de desplazamiento */
    border-radius: 6px; /* Borde redondeado del thumb */
}

.listMessage::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb de la barra de desplazamiento al pasar el ratón */
}

.formChat {
    height: 10%;
    display: flex;
    gap: 10px;
    /* border-top: 1px solid black; */
    padding: 10px 20px;
}

.formChat textarea {
    flex-grow: 1;
    resize: none;
    font-family: var(--font-secondary);
    font-size: var(--font-size-m);
    padding: 10px;
    border-radius: 1rem;
    border: .25px solid grey;
}

.formChat textarea:focus{
    outline: none;
}

.userMessage {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin: 10px 20px;
    border-radius: 1rem;
    transition: background-color 0.5s ease;
}

.userMessage:nth-child(even) {
    background-color: #8bffcf;
}

.userMessage:nth-child(even):hover {
    background-color: #75caa7;
}

.userMessage:nth-child(odd) {
    background-color: #ffacac;
}

.userMessage:nth-child(odd):hover {
    background-color: #ff8e8e;
}

.chatMessage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chatMessage p:last-child {
    text-align: right;
    font-size: var(--font-size-s);
}

.chatUser .userMail {
    font-weight: 600;
}

.material-symbols-outlined.btn-chat {
    color: black;
    font-size: 50px;
    /* font-weight: light; */
}