<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&family=Rubik:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>e-COMMERCE || {{ pageName }}</title>
</head>

<body>
    <header class="header">
        <nav class="container">
            <h1><a href="/products">E-COMMERCE</a></h1>
            <li><a href="/products">Productos</a></li>
            <ul class="container">
                <li>
                    <a class="info" href="/">
                        <span class="material-symbols-outlined">account_circle</span>
                        <div class="infoUser">
                            <span><strong>User: </strong>{{user.email}}</span>
                            <span><strong>Rol: </strong>{{user.role}}</span>
                        </div>
                    </a>
                </li>
                <li><span class="material-symbols-outlined">shopping_cart</span></li>
                <li><span class="material-symbols-outlined">location_on</span></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>